.cookie{
  background-color: $white;
  opacity: 0.8;
  width: 100%;
  height: 85px;
  @include flex-center(center);
  position: fixed;
  border-bottom: 1px solid $light-gray;
  p{
    @include regular-font(14px, $gray);
    padding-left: 20px;
    a{
      padding: 0 10px 0 40px;
    }
  }
  .icon{
    img{
      vertical-align: middle;
    }
  }
}
@media only screen and (max-width: $break-tablet) {
  .cookie{
    height: auto;
    p{
      padding-left: 15px;
      text-align: justify;
      a{
        padding: 0 0 0 10px;
      }
    }
    .icon{
      padding-left: 15px;
    }
  }
}