//fonts
$font: 'Open Sans', sans-serif;

//colors
$red: #C72828;
$blue: #1696e0;
$white: #fff;
$gray: #646464;
$gray-border: #d1d1d1;
$light-gray: #ebebeb;
$black: #000;
$yellow: #faffbd;
$green: #497d00;

//break point
$break-tablet : 992px;
$break-mobile: 768px;
$break-mobile-sm: 479px;
